<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dockerexfunctionapp20220816191559.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/80965415-4b92-48cb-9a57-aef4628b5f77/resourcegroups/DockerFunctionAppTej_group/providers/Microsoft.Web/sites/DockerExFunctionApp20220816191559</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/80965415-4b92-48cb-9a57-aef4628b5f77/resourceGroups/DockerFunctionAppTej_group/providers/Microsoft.ContainerRegistry/registries/dockerContainerRegistryTej</ContainerResourceId>
    <ContainerResourceName>dockerContainerRegistryTej</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>dockercontainerregistrytej.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>